@charset "utf-8";
/* CSS Document */

div {
	background-color: #F00;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	position: absolute;
	left: 200px;
	top: 200px;
	-moz-transition: all 350ms linear;
	text-align: center;
	font-size: 1.5em;
	line-height: 50px;
}

.current {
	border: 2px solid #000;
	z-index: 2000;
}











